@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color-scheme: light dark;
}

.dark {
	color-scheme: dark;
}

.light {
	color-scheme: light;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	transition: background-color 0.3s ease, color 0.3s ease;
}
